

<!-- sidebar menu -->

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-lg-2 col-sm-1 col-xs-3" style="  background: #2A3F54;height:400vh;">
              <div class="" style="padding-top:10px;padding-bottom:10px;">
                            <a href="index.html" class="site_title"><i class="fa fa-stethoscope"></i> <span>Solosnap !</span></a>
                          </div>
              <div class="menu_section">
                <h3 style="padding:10px;">Control</h3>
                <ul class="nav side-menu">
                
                  <li><a href="/users"><i class="fa fa-ambulance"></i> المستخدمين</span></a></li>
                  <li><a href="/groups"><i class="fa fa-user"></i> المجموعات</span></a></li>
                  <li><a href="/"><i class="fa fa-sign-out"></i>تسجيل الخروج</span></a>
                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
